html {
    background-color: mediumorchid;
    text-align: center;
}

.text {
    color: rosybrown;
    background-color: mediumorchid;
}

li {
    color: rosybrown;
    background-color: mediumorchid;
    font-weight: 900;
}

#kandinsky {
    height: auto;
    width: 300px;
}